
<h1>Add New Bulding Operation</h1>
<hr>

<form action="" class="container">
    <label for="operation-name-input ">
       <p>Operation Name </p> 
        <input placeholder="Operation Name" >
    </label>
    
<label for="description">
<p>Description</p>
<input type="text" placeholder="Description">
</label>

<label for="cost">
    <p>Cost</p>
    <input type="text" placeholder="Cost">
    </label>

    <label for="building">
        <p>Building</p>
     <select>
        <option value="">Building A</option>
        <option value="">Building B</option>
     </select>
        </label>

        <button type="submit"> Submit</button>
</form>