h1{
    font-size: 3rem;
    margin:3% 0 0 3%;
}
label{
    width:100%;
    margin-bottom: 50px;
    
}
p{
    font-size:small;
}
input{
  width : 45%;
  border: 0.7px solid lightgray; /* Set a consistent border color */
  border-radius: 10px; /* Set border radius for rounded corners */
  padding: 15px; /* Add padding for better spacing */
  box-sizing: border-box;
  border-color: lightgray;
}

mat-select{
    width : 30%;
    border: 0.7px solid lightgray; /* Set a consistent border color */
    border-radius: 10px; /* Set border radius for rounded corners */
    padding: 15px; /* Add padding for better spacing */
    box-sizing: border-box;
    border-color: lightgray;
    background-color: white;

    
}

button{
    margin-bottom: 20px;
    border: 0.7px solid lightgray; /* Set a consistent border color */
    border-radius: 5px;
    padding:10px 20px 10px 20px;
    background-color: darkcyan;
    color: white;
}
hr{
    margin-bottom: 30px;
}



.error {
    color: red; 
  }
  
  .error ~input, .error ~mat-select {
    border-color: red; 
  }
