.page-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.slogan {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.action-container {
  width: 80%;
  align-self: center;
  text-align: center;
  padding: 20px;
  background-color: #ebecf0;
  margin-bottom: 20px;
}

.title {
  color: #000000;
  font-size: 24px;
}
