<ng-container *ngIf="sourcePage === 'availablePage'">
  <div class="body">
    <div
      class="card"
      *ngFor="let item of condos; let i = index"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      data-aos-mirror="true"
    >
      <div class="seperation">
        <hr class="item-sep" />
      </div>
      <div class="item">
        <a
          [routerLink]="['/individual-condo', building.ID, item.ID]"
          [queryParams]="item"
        >
          <div class="image">
            <img [src]="item.Picture" alt="Your unit image" />
          </div>
        </a>
        <div class="info">
          <div class="location">{{ building.Address }}</div>
          <div class="name">
            {{ item.UnitNumber }}
          </div>
          <div class="bedroom">
            <hr class="text-sep" />
            {{ item.NumberOfBedrooms }} bedroom &bull;
            {{ item.NumberOfBathrooms }} bathrooms
            <br />
            {{ item.Status }}
            <hr class="text-sep" />
          </div>
        </div>

        <div class="right">
          <ng-container *ngIf="authority == 'Public'">
            <div class="button">
              <ng-container *ngIf="item.Type === 'Sale'; else Renter">
                <button class="buttonItem" (click)="requestOwnership(item)">
                  Request for ownership
                </button>
              </ng-container>
              <ng-template #Renter>
                <button class="buttonItem" (click)="requestRent(item)">
                  Request for rent
                </button>
              </ng-template>
            </div>
          </ng-container>
          <div>
            <a
              [routerLink]="['/individual-condo', building.ID, item.ID]"
              [queryParams]="item"
            >
              <button class="buttonItem">View Details</button>
            </a>
          </div>
          <div class="price">
            <ng-container *ngIf="item.Type === 'Sale'; else Rent">
              {{ item.Fee }}$
            </ng-container>
            <ng-template #Rent> ${{ item.Fee }}/Month </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="sourcePage === 'propertiesPage' && condos.length > 0">
  <div class="body">
    <div
      class="card"
      *ngFor="let item of condos; let i = index"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      data-aos-mirror="true"
    >
      <div class="seperation">
        <hr class="item-sep" />
      </div>
      <div class="item">
        <a
          [routerLink]="['/individual-condo', building.ID, item.ID]"
          [queryParams]="item"
        >
          <div class="image">
            <img [src]="item.Picture" alt="Your unit image" />
          </div>
        </a>
        <div class="info">
          <div class="location">{{ building.Address }}</div>
          <div class="name">
            {{ item.UnitNumber }}
          </div>
          <div class="bedroom">
            <hr class="text-sep" />
            {{ item.NumberOfBedrooms }} bedroom &bull;
            {{ item.NumberOfBathrooms }} bathrooms
            <br />
            {{ item.Status }}
            <hr class="text-sep" />
          </div>
        </div>
        <div class="right">
          <div class="price">
            <ng-container *ngIf="item.Type === 'Sale'; else Rent">
              {{ item.Fee }}$
            </ng-container>
            <ng-template #Rent> ${{ item.Fee }}/Month </ng-template>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="sourcePage === 'propertiesPage' && condos.length === 0">
  <div style="padding-top: 20px; text-align: center">
    No condos in your name for this building.
  </div>
</ng-container>
