<mat-toolbar>
  <div class="Menu">
    <div class="brand-container">
      <a class="navbar-brand" href="">Decagon</a>
    </div>
    <div
      *ngIf="authService.isLoggedIn && authService.getUser()?.emailVerified"
      class="mobile-menu"
    >
      <button mat-icon-button class="mobile-notification">
        <mat-icon
          [matBadge]="notifications.length"
          matBadgeColor="warn"
          aria-hidden="false"
          >notifications</mat-icon
        >
      </button>
      <button
        mat-button
        [matMenuTriggerFor]="menu"
        *ngIf="authService.isLoggedIn && authService.getUser()?.emailVerified"
        class="Menu-dropdown"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </div>
  </div>
  <div
    *ngIf="authService.isLoggedIn && authService.getUser()?.emailVerified"
    class="otherLinks"
  >
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <button mat-icon-button>
          <mat-icon
            [matBadge]="notifications.length"
            matBadgeColor="warn"
            aria-hidden="false"
            >notifications</mat-icon
          >
        </button>
      </li>
      <li class="nav-item">
        <a class="nav-link" aria-current="page" href="">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="user-profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="authService.SignOut()">Log Out</a>
      </li>
    </ul>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu">
  <button mat-menu-item><a class="nav-link" href="">Home</a></button>
  <button
    mat-menu-item
    *ngIf="authService.isLoggedIn && authService.getUser()?.emailVerified"
  >
    <a class="nav-link" href="user-profile">Profile</a>
  </button>
  <button
    mat-menu-item
    *ngIf="authService.isLoggedIn && authService.getUser()?.emailVerified"
  >
    <a class="nav-link" href="login" (click)="authService.SignOut()">Log Out</a>
  </button>
</mat-menu>
