mat-toolbar {
  flex: 1 1 auto;
  width: 100%;
  background-color: #b6b9c0;

  .header-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    &:hover {
      transform: scale(
        1.1
      ); // This will make the image slightly larger when hovered
      transition: transform 0.1s ease-in-out; // This will animate the scaling effect
    }
  }
}

.Menu-dropdown {
  display: none;
}
.otherLinks {
  margin-left: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin-right: 35px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-link,
.notifications {
  &:hover {
    color: lighten(black, 50%); // lighten the text color by 10%
  }
  font-size: small;
}

.nav-item button[matBadge] {
  position: relative;
}

.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  // TODO: Replace current logo with Decagon logo
  background-image: url("../../../assets/imgs/logo/decagon.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 42px;
}

.notifications {
  color: black;
}

#bigMenu {
  background-color: red;
  // Display the children with the IDs
  #log-out,
  #profile {
    display: none;
  }
}
