mat-toolbar {
  display: flex;
  width: 100%;
  background-color: #B6B9C0;

  .header-image img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;

    &:hover {
      transform: scale(
        1.1
      ); // This will make the image slightly larger when hovered
      transition: transform 0.1s ease-in-out; // This will animate the scaling effect
    }
  }
}

.Menu-dropdown {
  display: none;
}
.otherLinks {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 50%;
  margin-right: 35px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  li {
    display: inline-block;
    margin-right: 10px; // adjust as needed
    &:last-child {
      margin-right: 0;
    }
  }
}

.nav-link {
  &:hover {
    color: lighten(black, 50%); // lighten the text color by 10%
  }
}

.nav-item button[matBadge] {
  position: relative;
}

.brand-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-brand {
  // TODO: Replace current logo with Decagon logo
  background-image: url("../../../assets/imgs/logo/decagon.png");
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 32px;
}

.notifications {
  color: black;
}

.mobile-notification {
  display: block;
}

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .Menu-dropdown {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    mat-icon {
      font-size: 24px;
    }
  }

  mat-toolbar {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    height: fit-content;
    padding: 15px;
  }
  .Menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .otherLinks {
    display: none;
  }
}

@media (min-width: 769px) {
  .mobile-notification {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
