<mat-toolbar>
  <div class="Menu">
    <div class="brand-container">
      <a class="navbar-brand" href="">Decagon</a>
    </div>
    <div
      *ngIf="
        authService.isLoggedIn && authService.getUser()?.emailVerified && myUser
      "
      class="mobile-menu"
    >
      <a class="notifications" href="notifications">
        <button mat-icon-button class="mobile-notification">
          <mat-icon
            *ngIf="myUser"
            [matBadge]="newNotifications.length"
            [matBadgeHidden]="!newNotifications.length"
            matBadgeColor="warn"
            aria-hidden="false"
            >notifications</mat-icon
          >
        </button>
      </a>
      <div
        mat-card-avatar
        mat-button
        *ngIf="
          authService.isLoggedIn &&
          authService.getUser()?.emailVerified &&
          myUser
        "
        class="header-image"
      >
        <img
          [matMenuTriggerFor]="menu"
          *ngIf="myUser?.ProfilePicture"
          [src]="myUser?.ProfilePicture"
          alt="Avatar"
        />
        <img
          [matMenuTriggerFor]="menu"
          *ngIf="!myUser?.ProfilePicture"
          src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
          alt="Avatar"
        />
      </div>
    </div>
  </div>
  <div
    *ngIf="
      authService.isLoggedIn && authService.getUser()?.emailVerified && myUser
    "
    class="otherLinks"
  >
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="notifications" href="notifications">
          <button mat-icon-button>
            <mat-icon
              *ngIf="myUser"
              [matBadge]="newNotifications.length"
              [matBadgeHidden]="!newNotifications.length"
              matBadgeColor="warn"
              aria-hidden="false"
              [attr.data-badge]="newNotifications.length"
              >notifications</mat-icon
            >
          </button>
        </a>
      </li>
      <ng-container *ngTemplateOutlet="elseBlock"></ng-container>

      <li class="nav-item" id="p-icon">
        <div mat-card-avatar class="header-image">
          <img
            [matMenuTriggerFor]="menu"
            *ngIf="myUser?.ProfilePicture"
            [src]="myUser?.ProfilePicture"
            alt="Avatar"
          />
          <img
            [matMenuTriggerFor]="menu"
            *ngIf="!myUser?.ProfilePicture"
            src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
            alt="Avatar"
          />
        </div>
        <mat-menu #menu="matMenu">
          <a class="nav-link" href="user-profile">
            <button mat-menu-item id="p-btn">Profile</button>
          </a>
          <a class="nav-link" href="#" (click)="logOut()">
            <button mat-menu-item>Log Out</button>
          </a>
        </mat-menu>
      </li>
    </ul>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" id="MypropertiesSection">
  <a class="nav-link" href="">
    <button mat-menu-item>Home</button>
  </a>
  <a class="nav-link" href="my-properties" id="MyProperties_a">
    <button mat-menu-item *ngIf="authority != 'Employee'" id="myProperties_btn">
      My Properties
    </button>
  </a>
  <a
    class="nav-link"
    aria-current="page"
    *ngIf="authority === 'Company'"
    href="add-new-property"
  >
    <button mat-menu-item>Add New Property</button>
  </a>
  <a
    class="nav-link"
    aria-current="page"
    href="add-new-building-operation"
    *ngIf="authority === 'Company'"
  >
    <button mat-menu-item>Add New Operation</button>
  </a>
  <a 
    class="nav-link" 
    aria-current="page" 
    href="budget-report" 
    *ngIf="authority === 'Company'">
    <button mat-menu-item>Budget Report</button>
  </a>
  <a class="nav-link" href="user-profile">
    <button mat-menu-item>Profile</button>
  </a>
  <a class="nav-link" href="#" (click)="logOut()">
    <button mat-menu-item>Log Out</button>
  </a>
</mat-menu>

<!-- Put links here please -->
<ng-template #elseBlock class="somet">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" *ngIf="authority != 'Employee'" href="my-properties"
      >My Properties</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      href="add-new-property"
      *ngIf="authority === 'Company'"
      >Add New Property</a
    >
  </li>
  <li class="nav-item">
    <a
      class="nav-link"
      aria-current="page"
      href="add-new-building-operation"
      *ngIf="authority === 'Company'"
      >Add New Operation</a
    >
  </li>
  <li class="nav-item">
    <a 
      class="nav-link" 
      aria-current="page" 
      href="budget-report" 
      *ngIf="authority === 'Company'"
      >Budget Report</a
    >
  </li>
</ng-template>
