<mat-toolbar>
  <div class="Menu">
    <div class="brand-container">
      <a class="navbar-brand" href="">Decagon</a>
    </div>
  </div>
  <span class="example-spacer"></span>
  <div
    *ngIf="
      authService.isLoggedIn && authService.getUser()?.emailVerified && myUser
    "
    class="otherLinks"
  >
    <div class="navbar-nav">
      <a class="notifications nav-item" href="notifications">
        <button mat-icon-button>
          <mat-icon
            *ngIf="myUser"
            [matBadge]="newNotifications.length"
            [matBadgeHidden]="!newNotifications.length"
            matBadgeColor="warn"
            aria-hidden="false"
            [attr.data-badge]="newNotifications.length"
            >notifications</mat-icon
          >
        </button>
      </a>

      <div *ngFor="let links of biglinks">
        <a
          class="nav-link"
          *ngIf="links.authority == 'Any' || authority == links.authority"
          href="{{ links.path }}"
          ><button mat-menu-item><b>{{ links.label }}</b></button></a
        >
      </div>

      <div mat-card-avatar class="header-image" id="p-icon">
        <img
          [matMenuTriggerFor]="menu"
          *ngIf="myUser?.ProfilePicture"
          [src]="myUser?.ProfilePicture"
          alt="Avatar"
        />
        <img
          [matMenuTriggerFor]="menu"
          *ngIf="!myUser?.ProfilePicture"
          src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-chat/ava1-bg.webp"
          alt="Avatar"
        />
      </div>
    </div>
  </div>
</mat-toolbar>

<mat-menu #menu="matMenu" id="MypropertiesSection">
      <div *ngFor="let links of smalllinks">
        <a
          class="nav-link"
          *ngIf="links.authority == 'Any' || authority == links.authority"
          href="{{ links.path }}" 
          id="{{ links.path }}" 
           (click)="links.path === 'out' ? logOut() : null"
          ><button mat-menu-item>{{ links.label }}</button></a
        >
      </div>
</mat-menu>
