<div class="my-container">
  <mat-table [dataSource]="dataSource" class="my-table">
    <!-- Notification column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef class="mat-column-message">
        Message
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-message">
        {{ notification.Message }}
      </mat-cell>
    </ng-container>

    <!-- Date column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="mat-column-date">
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-date">
        {{ notification.Date | date : "yyyy-MM-dd" }}
      </mat-cell>
    </ng-container>

    <!-- SenderId column -->
    <ng-container matColumnDef="sender">
      <mat-header-cell *matHeaderCellDef class="mat-column-SenderId">
        Sender
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-SenderId">
        {{ notification.SenderId }}
      </mat-cell>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        class="actions-column mat-column-actions"
      ></mat-header-cell>
      <mat-cell
        *matCellDef="let notification"
        class="actions-column mat-column-actions"
      >
        <div class="button-container">
          <button
            mat-button
            color="primary"
            *ngIf="notification.New"
            (click)="markAsRead(notification)"
          >
            Mark as Read
          </button>
          <button
            mat-button
            color="accent"
            *ngIf="!notification.New"
            (click)="markAsUnread(notification)"
          >
            Mark as Unread
          </button>
          <button
            mat-button
            color="warn"
            (click)="deleteNotification(notification)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let notification; columns: displayedColumns"></mat-row>
  </mat-table>
  <!-- <div class="loading-indicator" *ngIf="loading">
    <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
  </div> -->
</div>
