<div class="my-container">
  <mat-table [dataSource]="dataSource" class="my-table">
    <!-- Type column -->
    <ng-container matColumnDef="type">
      <mat-header-cell *matHeaderCellDef class="mat-column-type">
        Type
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-type">
        {{ notification.Type }}
      </mat-cell>
    </ng-container>

    <!-- Status column -->
    <ng-container matColumnDef="status">
      <mat-header-cell
        *matHeaderCellDef
        class="mat-column-status"
        [style.display]="authority === 'Public' ? 'none' : ''"
      >
        Status
      </mat-header-cell>
      <mat-cell
        *matCellDef="let notification"
        class="mat-column-status"
        [style.display]="authority === 'Public' ? 'none' : ''"
      >
        <mat-select
          [(ngModel)]="notification.Status"
          (selectionChange)="sendNotificationUpdatingStatus(notification)"
        >
          <mat-option
            *ngFor="let status of requestStatusArray"
            [value]="status"
          >
            {{ status }}
          </mat-option>
        </mat-select>
      </mat-cell>
    </ng-container>

    <!-- Notification column -->
    <ng-container matColumnDef="message">
      <mat-header-cell *matHeaderCellDef class="mat-column-message">
        Message
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-message">
        {{ notification.Message }}
      </mat-cell>
    </ng-container>

    <!-- Date column -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef class="mat-column-date">
        Date
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-date">
        {{ notification.Date | date : "yyyy-MM-dd" }}
      </mat-cell>
    </ng-container>

    <!-- SenderId column -->
    <ng-container matColumnDef="sender">
      <mat-header-cell *matHeaderCellDef class="mat-column-SenderId">
        Sender
      </mat-header-cell>
      <mat-cell *matCellDef="let notification" class="mat-column-SenderId">
        {{ notification.SenderName }}
      </mat-cell>
    </ng-container>

    <!-- Actions column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell
        *matHeaderCellDef
        class="actions-column mat-column-actions"
      ></mat-header-cell>
      <mat-cell
        *matCellDef="let notification"
        class="actions-column mat-column-actions"
      >
        <div class="button-container">
          <button
            class="action-button"
            mat-raised-button
            color="primary"
            *ngIf="
              (notification.Type === NotificationType.RentRequest ||
                notification.Type === NotificationType.OwnershipRequest) &&
              notification.New
            "
            (click)="acceptRequest(notification)"
          >
            Accept Request
          </button>
          <button
            class="action-button"
            mat-raised-button
            color="accent"
            *ngIf="notification.New"
            (click)="markAsRead(notification)"
          >
            Mark as Read
          </button>
          <button
            class="action-button"
            mat-raised-button
            color="accent"
            *ngIf="!notification.New"
            (click)="markAsUnread(notification)"
          >
            Mark as Unread
          </button>
          <button
            class="fab-button"
            mat-fab
            color="warn"
            (click)="deleteNotification(notification)"
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let notification; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
