<ng-container
  *ngIf="sourcePage === 'availablePage' || sourcePage === 'propertiesPage'"
>
  <div class="tab-content">
    <!--Book Facility Time-->
    <div class="heading-content">
      <h2>Book Facility Time</h2>
      <mat-divider></mat-divider>
      <div class="sub-heading-content">
        <p>Book time at one of our amazing facilities now!</p>

        <!--Form to book time at a facility-->
        <form [formGroup]="bookFacilityForm">
          <!--Radio Buttons-->
          <mat-radio-group class="facility-radio-group" formControlName="facility">
            <div *ngFor="let facility of building.Facilities">
              <ng-container *ngIf="bookableFacility(facility)">
                <mat-radio-button [value]="facility">{{ facility }} </mat-radio-button>
              </ng-container>
            </div>
          </mat-radio-group>
          
          <!-- Datepicker-->
          <div class="datepicker">
            <mat-form-field appearance="fill">
              <mat-label>Choose a date</mat-label>
              <input
                matInput
                [matDatepicker]="picker"
                formControlName="date"
                [min]="minDate"
                (dateChange) = "updateTimeSlots($event)"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
              <mat-error
                *ngIf="bookFacilityForm.controls['date'].hasError('required')"
              >
                Choose a  <strong>day</strong>
              </mat-error>
            </mat-form-field>
          </div>

          <!--Time-->
          <div class="time-chips">
            <mat-chip-listbox formControlName="time-slots">
              <mat-chip-option>9:00 am</mat-chip-option>
              <mat-chip-option>10:00 am</mat-chip-option>
              <mat-chip-option>11:00 am</mat-chip-option>
              <mat-chip-option>12:00 pm</mat-chip-option>
              <mat-chip-option>1:00 am</mat-chip-option>
              <mat-chip-option>2:00 pm</mat-chip-option>
              <mat-chip-option>3:00 pm</mat-chip-option>
              <mat-chip-option>4:00 pm</mat-chip-option>
            </mat-chip-listbox>
              <mat-error
                *ngIf="bookFacilityForm.controls['time-slots'].hasError('required') && bookFacilityForm.controls['time-slots'].touched"
              >
               Choose a <strong>time</strong>
              </mat-error>
          </div>

          <br /><br />
          <!--Button-->
          <button mat-raised-button color="primary" (click)="onSubmit()" (click)="logTimeSlots()">Save</button>
        </form>
      </div>
    </div>

    <br /><br />
    <!--My Bookings-->
    <div class="heading-content">
      <h2>My Bookings</h2>
      <mat-divider></mat-divider>
      <div class="sub-heading-content">
        <app-booking-card></app-booking-card>
      </div>
    </div>
  </div>
</ng-container>
