<ng-container *ngIf="sourcePage === 'availablePage'">

    <div class="tab-content">
        
        <!--Top of the Page -->
        <div class="top-tab-content" id="building-title-pic">
            <h2>{{ building.Name }}</h2>
            <p>{{ building.Address }}</p> 
            <img [src]="building.Picture" alt="building image not found" style="height:500px;"/>
            
        </div>
        
        <!--Building Overview Main-->
        <div class="bottom-tab-content">

            <!--Description-->
            <div class="heading-content">
                <h2>Description</h2>
                <mat-divider></mat-divider>
                <div class="sub-heading-content">
                    {{ building.Description }}
                </div>
            </div>
            
            <!--General Information-->
            <div class="heading-content">
                <h2>General Information</h2>
                <mat-divider></mat-divider>
                <div class="sub-heading-content">
                    <div class="gen-info">
                        <!--Column 1-->
                        <div class="gen-info-col">
                            <ul>
                                <li>Built in {{ building.Year }}</li>
                                <li>{{ calculateTotalCondos(building) }} Condos Total</li>
                                <li>{{ calculateTotalParkings(building) }} Parking Spaces Total</li>
                                <li>{{ calculateTotalLockers(building) }} Lockers Total</li>
                            </ul>
                        </div>
                        <!--Column 2-->
                        <div class="gen-info-col">
                            <ul>
                                <li>{{ calculateAvailableCondos(building) }} Condos Available</li>
                                <li>{{ calculateAvailableLockers(building) }} Parking Spaces Available</li>
                                <li>{{ calculateAvailableParkings(building) }} Lockers Available</li>
                            </ul>
                        </div>

                    </div>
                    
                </div>
            </div>

            <!--Facilities-->
            <div class="heading-content">
                <h2>Facilities</h2>
                <mat-divider></mat-divider>
                <div class="sub-heading-content">
                    <div class="facility-item">
                            <div
                                *ngFor="let facility of building.Facilities"
                            >
                                <div>
                                    {{ facility }}
                                    <mat-icon>{{ getFacilityIcon(facility) }}</mat-icon>
                                </div>
                            </div>

                    </div>
                    
                </div>
            </div>

            <!--Company Information-->
            <div class="heading-content">
                <h2>Company Information</h2>
                <mat-divider></mat-divider>
                <div class="sub-heading-content">
                    <!--Columns-->
                    <div class="company-info">
                        <!--Column 1-->
                        <div class="company-info-col">
                            <img src="assets/imgs/Company_Profile_Pic.png" height="200" width="200" alt="Image not Found">
                        </div>
                        <!--Column 2-->
                        <div class="company-info-col">
                            <h1>COMPANY NAME</h1>
                            <p>Email: someone1234@gmail.com</p>
                            <p>Phone: 555-555-555</p>
                        </div>

                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</ng-container>
