<mat-tab-group>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Overview------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Overview"> 
        
        Display Building Overview Here!
    
    </mat-tab>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Condos--------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Condos"> 

        Display Condos Here!

    </mat-tab>
    
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Lockers-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Lockers"> 
        
        Display Lockers Here!

    </mat-tab>
    
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Parking-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Parking"> 

        Display Parking Here!
        
    </mat-tab>

</mat-tab-group>
