<mat-tab-group>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Overview------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Overview"> 
        
        <app-building-overview></app-building-overview>
        
    </mat-tab>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Condos--------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Condos"> 

        <app-condo [address]="buildingAddress" [condos]="condos" [sourcePage]="sourcePage"></app-condo>

    </mat-tab>
    
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Lockers-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Lockers"> 
        
        <app-locker [lockers]="lockers" [sourcePage]="sourcePage"></app-locker>

    </mat-tab>
    
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Parking-------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Parking"> 

        <app-parking-spot [parkings]="parkings" [sourcePage]="sourcePage"></app-parking-spot>

    </mat-tab>

</mat-tab-group>
