<mat-tab-group>

    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!-----------------------------------------------------------------------Overview------------------------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Overview"> 
        
        <app-building-overview *ngIf="building" 
          [building]="building" 
          [sourcePage]="sourcePage">
      </app-building-overview>
        
    </mat-tab>

  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------------------------------------Condos--------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Condos">
    <app-condo
      [address]="buildingAddress"
      [condos]="condos"
      [sourcePage]="sourcePage"
      [building]="building"
    ></app-condo>
  </mat-tab>

  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------------------------------------Lockers-------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Lockers">
    <app-locker
      [lockers]="lockers"
      [sourcePage]="sourcePage"
      [building]="building"
    ></app-locker>
  </mat-tab>

  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------------------------------------Parking-------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab label="Parking">
    <app-parking-spot
      [parkings]="parkings"
      [sourcePage]="sourcePage"
      [building]="building"
    ></app-parking-spot>
  </mat-tab>

  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <!-----------------------------------------------------------------------Requests-------------------------------------------------------------------------------->
  <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
  <mat-tab *ngIf="authority === 'Public'" label="Requests">
    <app-request-page
      [building]="building"
      [sourcePage]="sourcePage"
    ></app-request-page>
  </mat-tab>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------Reservations------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Reservations"  *ngIf="sourcePage === 'propertiesPage' && authority === 'Public'">

        <app-bookings *ngIf="building"  
          [building]="building"
          [sourcePage]="sourcePage"
        ></app-bookings>

    </mat-tab>
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <!---------------------------------------------------------------------Schedule------------------------------------------------------------->
    <!-------------------------------------------------------------------------------------------------------------------------------------------------------------->
    <mat-tab label="Schedule" *ngIf="sourcePage === 'propertiesPage' && authority === 'Company'">

        <app-schedule [building]="building" ></app-schedule>

    </mat-tab>


</mat-tab-group>
