section {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    justify-content: flex-start; 
    height: 100vh;
    padding: 20px;
}

.card-body {
  text-align: left;
}

.card-body h5 {
  letter-spacing: 1px;
}

.form-outline {
  width: 80%;
}

mat-form-field {
  width: 80%;
}

.btn {
  color: #fff;
  margin-top: 10px;
}

.loading-indicator {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: 10px;
  top: 0;
  left: 0;
}

.loading-indicator:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}
