<!-- registration.component.html -->

<section class="vh-100">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-7">
          <div class="card-body text-black">
            <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px; font-size: 24px;">
              Registration Key
            </h5>
  
            <!-- Input for registration key -->
            <div class="form-outline mb-2">
              <mat-form-field appearance="outline">
                <mat-label class="form-label" for="registrationKey">Enter Key</mat-label>
                <input
                  matInput
                  id="registrationKey"
                  class="form-control form-control-lg"
                  placeholder="Enter Key"
                />
              </mat-form-field>
            </div>

            <div class="d-flex justify-content-between align-items-center">
              <button
                class="btn btn-dark btn-lg"
                type="button"
              >
                Register
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>