<div class="BuildingDiv">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class="cardz">
    <div
      *ngFor="let item of buildings; let i = index"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      data-aos-mirror="true"
    >
      <a
        [routerLink]="['']"
        [queryParams]="item"
        *ngIf="
          searchText === '' ||
          item.Name.toLowerCase().includes(searchText.toLowerCase()) ||
          item.Address.toLowerCase().includes(searchText.toLowerCase()) ||
          item.UnitCount.toString().includes(searchText.toLowerCase()) ||
          item.ParkingCount.toString().includes(searchText.toLowerCase()) ||
          item.LockerCount.toString().includes(searchText.toLowerCase())
        "
      >
        <div class="card">
          <img src="{{ item.Picture }}" alt="Image not found" class="cardimg" />
          <div class="card-content" value="">
            <div class="top-card">
              <h3>{{ item.Name }}</h3>
              <P style="color: #486380">{{ item.Address }}</P>
              <h4>{{ item.UnitCount }}</h4>
            </div>

            <!-- <div class="bottom-card">
            <div *ngIf="item=='Hybrid'"><mat-icon> transfer_within_a_station</mat-icon></div>
            <div *ngIf="item=='Remote'"><mat-icon>wifi</mat-icon></div>
            <div *ngIf="item=='On-site'"><mat-icon>business</mat-icon></div>
            <p class="watch">{{ item }}</p>
          </div> -->
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
