<div class="BuildingDiv">
  <app-search (searchTextChanged)="onSearchTextEntered($event)"></app-search>

  <div class="cardz">
    <div *ngIf="!buildings || buildings.length === 0">
      No buildings have been created.
    </div>
    <div
      *ngFor="let item of buildings; let i = index"
      data-aos="fade-up"
      data-aos-duration="900"
      data-aos-easing="ease-in-out-back"
      data-aos-mirror="true"
    >
      <a
        *ngIf="
          searchText === '' ||
          item.Name.toLowerCase().includes(searchText.toLowerCase()) ||
          item.Address.toLowerCase().includes(searchText.toLowerCase()) ||
          item.Facilities.toString()
            .toLowerCase()
            .includes(searchText.toLowerCase())
        "
      >
        <div class="card">
          <img src="{{ item.Picture }}" alt="Not found" class="cardimg" />
          <div class="card-content" value="">
            <div class="top-card">
              <div class="info">
                <p class="name" style="font-weight: bold">{{ item.Name }}</p>
                <p
                  class="address"
                  style="
                    color: #486380;
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  "
                >
                  {{ item.Address }}
                </p>
                <p style="font-size: 14px" class="total">
                  {{ calculateTotalCondos(item) }} Total,
                  {{ calculateAvailableCondos(item) }} available
                </p>
              </div>
              <div class="button-container">
                <button (click)="navigateToBuildingInfo(item)" class="button" id="view_btn">View</button>
              </div>
            </div>
            <div class="bottom-card">
              <div
                *ngFor="let facility of item.Facilities.slice(0, 5)"
                class="facility-item"
              >
                <p class="facility-name">{{ facility }}</p>
                <mat-icon class="facility-icon">{{
                  getFacilityIcon(facility)
                }}</mat-icon>
              </div>
              <p *ngIf="item.Facilities.length > 5" class="more-facilities">
                +{{ item.Facilities.length - 5 }} more
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
