.title {
  font-size: 50px;
  margin-bottom: 20px;
  margin-top: 30px;
  font-family: "Newsreader", serif;
  margin-left: 100px;
  position: relative;
}

@media (max-width: 768px) {
  .title {
    font-size: 30px;
    margin-left: 20px;
  }
}

.title-container {
  position: relative;
}

.title-divider {
  margin-left: 100px;
  margin-right: 100px;
}

@media (max-width: 768px) {
  .title-divider {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.table-wrapper {
  position: relative;
  margin: 0 auto 20px;
  width: 80%;
  margin-top: 20px;
}

@media (max-width: 768px) {
  .table-wrapper {
    width: 95%;
  }
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  text-align: left;
}

th {
  background-color: white;
}

tr:nth-child(even) {
  background-color: #f7f6fe;
}

.total-row {
  background-color: #cccccc;
  color: black;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.total-cell {
  padding: 10px;
  margin-right: auto;
  font-size: medium;
}

@media (max-width: 768px) {
  .total-cell {
    font-size: small;
  }
}