<ng-container *ngFor="let booking of myBookings">
  <div class="card">
      <div class="card-header">
          <div>
              {{ booking.Facility }}
          </div>
          <button mat-fab color="warn" >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      
      <div class="card-body">
          <p class="card-text"><strong>Date:</strong> {{ booking.Date | date : 'MMMM EEEE d'}}</p>
          <p class="card-text"><strong>Time:</strong> {{ booking.Date | date : 'h:mm a'}} </p>
      </div>
  </div>
</ng-container>