<div class="tab-content">
    <!--Top of the Page -->
    <div id="top-tab-content">
        <div class="sub-content" id="building-title-pic">
            <h2>Building A</h2>
            <p>Owned by COMPANY NAME</p>
            <img src="assets/imgs/Building_A.jpg" alt="Image not Found">
        </div>

    </div>
    
    <!--Building Overview Main-->
    <div class="bottom-tab-content">
        <div class="heading-content">
            <h2>Description</h2>
            <mat-divider></mat-divider>
            <div class="sub-heading-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
        
        <div class="heading-content">
            <h2>General Information</h2>
            <mat-divider></mat-divider>
            <div class="sub-heading-content">
                <div class="gen-info">
                    <!--Column 1-->
                    <div class="gen-info-col 1">
                        <ul>
                            <li>50 Condos</li>
                            <li>50 Parking Spaces</li>
                            <li>50 Lockers</li>
                        </ul>
                    </div>
                    <!--Column 2-->
                    <div class="gen-info-col 2">
                        <ul>
                            <li>35 000 square feet</li>
                            <li>Year 2005</li>
                        </ul>
                    </div>

                </div>
                
            </div>
        </div>
    
        <div class="heading-content">
            <h2>Facilities</h2>
            <mat-divider></mat-divider>
            <div class="sub-heading-content">
                <p>facilities</p>
            </div>
        </div>

    </div>
    





</div>

