.tab-content{
    padding: 50px;
}

/*#building-title-pic{
    text-align: center;
}*/

.heading-content, .sub-heading-content{
    padding: 15px 0px;
}

.bottom-tab-content{
    padding: 15px 0px;
}

.gen-info{
    display:flex;
    width:50%;
}

.gen-info-col{
    flex:1;
    border: 2px;
    //margin: 10px;
}

.gen-info-col:first-child{
    margin-right: 20px;
}

.facility-radio-group{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

.facility-radio-button{
    margin: 5px;
}



