<div id="content">
    <div class="sub-content" id="building-title-pic">
        <h2>Building A</h2>
        <img src="assets/imgs/Building_A.jpg" alt="Image not Found">
    </div>

    <div class="sub-content">
        <h2>Description</h2>
        <mat-divider></mat-divider>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    
    <div class="sub-content">
        <h2>General Information</h2>
        <mat-divider></mat-divider>
        <P>Testing</P>
    </div>

    <div class="sub-content">
        <h2>Facilities</h2>
        <mat-divider></mat-divider>
    </div>





</div>

