<ng-container *ngIf="sourcePage === 'availablePage'">
  <table
    summary="Parkings"
    mat-table
    [dataSource]="parkings"
    class="mat-elevation-z8"
  >
    <!-- Define the columns -->
    <ng-container matColumnDef="Parking">
      <th mat-header-cell *matHeaderCellDef>Parking</th>
      <td mat-cell *matCellDef="let parking">{{ parking.Number }}</td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let parking">{{ parking.ParkingType }}</td>
    </ng-container>

    <ng-container matColumnDef="Fee">
      <th mat-header-cell *matHeaderCellDef>Fee</th>
      <td mat-cell *matCellDef="let parking">${{ parking.Fee }}</td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let locker">
        <ng-container *ngIf="authority == 'Public'">
          <div class="request">Request for Rent</div>
        </ng-container>
      </td>
    </ng-container>

    <!-- Assign the column definitions to the table -->
    <tr
      mat-header-row
      *matHeaderRowDef="
        authority == 'Company'
          ? ['Parking', 'Type', 'Fee']
          : ['Parking', 'Type', 'Fee', 'Status']
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: authority == 'Company'
          ? ['Parking', 'Type', 'Fee']
          : ['Parking', 'Type', 'Fee', 'Status'];
        let i = index
      "
      [class.even-row]="i % 2 === 0"
    ></tr>
  </table>
</ng-container>

<ng-container *ngIf="sourcePage === 'propertiesPage' && parkings.length > 0">
  <table
    summary="Parkings"
    mat-table
    [dataSource]="parkings"
    class="mat-elevation-z8"
  >
    <!-- Define the columns -->
    <ng-container matColumnDef="Parking">
      <th mat-header-cell *matHeaderCellDef>Parking</th>
      <td mat-cell *matCellDef="let parking">{{ parking.Number }}</td>
    </ng-container>

    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef>Type</th>
      <td mat-cell *matCellDef="let parking">{{ parking.ParkingType }}</td>
    </ng-container>

    <ng-container matColumnDef="Fee">
      <th mat-header-cell *matHeaderCellDef>Fee</th>
      <td mat-cell *matCellDef="let parking">${{ parking.Fee }}</td>
    </ng-container>

    <ng-container *ngIf="authority == 'Company'" matColumnDef="OccupantID">
      <th mat-header-cell *matHeaderCellDef>Occupant ID</th>
      <td mat-cell *matCellDef="let locker">
        <div class="user">
          <ng-container *ngIf="users[locker.OccupantID]">
            <img [src]="users[locker.OccupantID].ProfilePicture" alt="Avatar" />
            {{ users[locker.OccupantID].FirstName }}
            {{ users[locker.OccupantID].LastName }}
          </ng-container>
          <ng-container *ngIf="!users[locker.OccupantID]">
            N/A
          </ng-container>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="Status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let locker">
        <ng-container *ngIf="authority == 'Company'">
          <div
            class="status-indicator"
            [ngClass]="{
              available: locker.Status === 'Available',
              unavailable: locker.Status === 'Unavailable'
            }"
          >
            {{ locker.Status }}
          </div>
        </ng-container>
      </td>
    </ng-container>

    <!-- Assign the column definitions to the table -->
    <tr
      mat-header-row
      *matHeaderRowDef="
        authority == 'Company'
          ? ['Parking', 'Type', 'OccupantID', 'Fee', 'Status']
          : ['Parking', 'Type', 'Fee']
      "
    ></tr>
    <tr
      mat-row
      *matRowDef="
        let row;
        columns: authority == 'Company'
          ? ['Parking', 'Type', 'OccupantID', 'Fee', 'Status']
          : ['Parking', 'Type', 'Fee'];
        let i = index
      "
      [class.even-row]="i % 2 === 0"
    ></tr>
  </table>
</ng-container>

<ng-container *ngIf="sourcePage === 'propertiesPage' && parkings.length === 0">
  <div style="padding-top: 20px; text-align: center;">
    No parkings in your name for this building.
  </div>
</ng-container>
