<div class="container">
  <div class="col1">
    <div class="content-padding personal-info">
      <div class="title">
        <p>Personal Information</p>
        <hr />
      </div>
      <div class="item-list1">Your name</div>
      <div class="item-list2">Email</div>
      <div class="item-list2">Phone Number</div>
    </div>

    <div class="content-padding amount">
      <div class="title">
        <p>Amount</p>
        <hr />
      </div>
      <div class="item-list1">Enter amount</div>
    </div>

    <div class="content-padding payment">
      <div class="title">
        <p>Payment methods</p>
        <hr />
      </div>
      <div class="item-list1">Cardholder Name</div>
      <div class="item-list1">CardNumber</div>
      <div class="item-list3">Exp Date</div>
      <div class="item-list3">CVC</div>
    </div>
  </div>

  <div class="col2">
    <div class="content-padding fee">
      <div class="title">
        <p>Condo Fee</p>
        <hr />
      </div>
      <p>Condo Fee</p>
      <p>Payment</p>
      <p>Exp Date</p>
      <p>CVC</p>
      <hr />
      <p class="diff">Remaining Balance</p>
      <button class="rounded-button">Submit</button>
    </div>
  </div>
</div>