/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
@import "bootstrap/scss/bootstrap";
.kawaiicolors {
  background-color: rgb(251, 207, 170);
  border-color: rgb(70, 20, 19);
  color: rgb(70, 20, 19);
  transition: all 0.5s ease-in-out;
}